<div class="footer">
    <div class="p1">
        <p>Privacy Policy<br>Terms&Condation</p>
    </div>
    <div class="p2">
    <p><b>Join Our Family And Receive Our Updates</b></p>
    <input type="text" placeholder="Write your Email" id="search" >
    <input type="submit" value="subscribe"id="sub" >
      </div> 
      <div class="p3" >
          <h2>Follow Us</h2>
          <p>Nasr City ,Egypt</p>
          <p>+966 54 119 5951</p>
          <p>omniaessamelden544@gmail.com</p>
          </div>
</div>
