<div class="container">
  <h1>Our Programs</h1>  
  <div class="cards">
    <div class="card">
    <div><img src="https://backend.konarabia.com//images/course/IMG_0659_1631791635.jpg" width="230px" height="130px"></div>
    <div><img src="https://backend.konarabia.com//images/avater/fahad_1630330439.jpg" width="100px" height="100px"></div>
    <p  class="p1">Fahad Khan</p>
    <p  class="p1">Course</p>
    <p class="p2">250.00</p>
    <p  class="p1">Sar</p>
    <div ><button class="btn"><a href="#">Enroll</a></button></div>
    <a class="anchor"href="#">Program Details</a>
</div>
    <div class="card">
        <div><img src="https://backend.konarabia.com//images/course/IMG_0659_1631791635.jpg" width="230px" height="130px"></div>
        <div><img src="https://backend.konarabia.com//images/avater/asim_1630330884.jpg"  width="100px" height="100px"></div>
        <p class="p1">Asim Danish</p>
        <p  class="p1">Course</p>
        <p class="p2">150.00</p>
        <p  class="p1">Sar</p>
        <div ><button class="btn"><a href="#">Enroll</a></button></div>
        <a class="anchor" href="#">Program Details</a>
    </div>
      <div class="card">
          <div><img src="https://backend.konarabia.com//images/course/IMG_0659_1631791635.jpg" width="230px" height="130px"></div>
          <div><img src="https://backend.konarabia.com//images/avater/rawan_1630330532.jpg" width="100px" height="100px"></div>
          <p  class="p1">Rawan Bondogji</p>
          <p  class="p1">Course</p>
          <p class="p2">25.00</p>
          <p  class="p1">Sar</p>
          <div ><button class="btn"><a href="#">Enroll</a></button></div>
          <a class="anchor" href="#">Program Details</a>
      </div>
  </div>
</div>
