
<app-header></app-header>
<!-- <div class="userdata">
  <h3>Date:{{myDate | date:'fullDate' }}</h3>
  <h2>First Name:{{firstName}}</h2>
  <h2 >Second Name:{{secondName}}</h2>
  <h2>E-mail:{{email}}</h2>
  <h2>Job:{{job}}</h2>
</div>
<form class="form">
  <input type="number" [(ngModel)]="num1" name="num1">
  <br>
  <br>
  <input type="number" [(ngModel)]="num2" name="num2">
  <br>
  <br>
  <button (click)="calc()">calculate</button>
  <br>
  <br>
  <h1>total:{{total}}</h1>
</form>
<div *ngFor="let students of myUsers;index as i;" [ngStyle]="{'color':(i+1)!=3?'red':'green'}" class="loop">
  <span >{{i+1}}-{{students}}</span> -->
  
  <router-outlet></router-outlet>
<app-footer></app-footer>