<div class="container">
    <div class="div1">
        <p class="address">Coaching</p>
        <p class="p1">We Provide A Wide Range Of Coaching Services To Enable Your Personal And Professional<br>
             Transformation</p>
             <div><button class="btn"><a href="#">Book Your Session</a></button></div>
    </div>
    <div class="div2">
        <p class="address">Counseling</p>
        <p class="p1">We Help You Deal With Your Mental Health Challenges And Provide You With The Best Counseling<br>
             Services In A Safe, Caring, And Confidential Environment</p>
             <div><button class="btn"><a href="#">Book Your Session</a></button></div>
    </div>
</div>
<section class="parent">
<div class="div3">
    <h3 class="sameAddress1">COACHING </h3>
    <p class="p2">We provide a wide range of coaching services to enable your <br>
        personal and professional transformation</p>
        <div><button class="btns">Career Coaching</button></div>
        <div><button class="btns">Relationship Coaching</button></div>
        <div><button class="btns">Life Coaching</button></div>
        <div><button class="btns">Leadership Coaching</button></div>
        <div><button class="btns">parenting Coaching</button></div>
</div>
<div class="div4">
   <h3 class="sameAddress2">COUNSELING </h3>
    <p class="p2">We help you deal with your mental health challenges and<br>
         provide you with the best counseling services in a safe,<br>
          caring, and confidential environment </p>
          <div><button class="btns"> Applied Behavior Analysis</button></div>
</div>
</section>
