<div class="div1">
    <!-- <img src="https://www.konarabia.com/assets/img/vision.png" height="450px" width="100%"> -->
    <h1>OUR VISION</h1>
    <p class="parabout">To be the destination for every entity desiring to <br>transform for the better</p>
</div>
<div class="div2">
    <h2>Our Values</h2>
    <div class="container">
        <div class="img">
       <img src="https://www.konarabia.com/assets/img/value1.png"width="60px">
       <div class="address"><button>TURST</button></div>
        </div>
    <div class="img">
        <img src="https://www.konarabia.com/assets/img/value2.png" width="50px">
        <div class="address"><button>RESPONSIBILITY</button></div>
    </div>
    <div class="img">
        <img src="https://www.konarabia.com/assets/img/value3.png"width="60px">
        <div class="address"><button>MUTUALITY</button></div>
        </div>
    </div>
    </div>
   

