<div class="container">
    <img src="assets/imge/WhatsApp Image 2021-09-20 at 2.57.50 PM (1).jpeg" width="100%" height="400px">
      
      <div class="div3">
        <h1 class="address">Book A Session</h1>
        <p class="pragrah">book your session now and start embracing your uniquiens and<br>live the life of your dreams</p>
    </div>
    <div class="img2">
      <div class="fcard">
      <h3>COACHING</h3>
      <img src="https://backend.konarabia.com/images/service/img_avatar2_1630325569.png" width="150px" height="150px">
      <div><button class="btnfcard"><a href="#" >YOUR APPOINTMENT</a></button></div>
      </div>
      <div class="scard">
        <h3>COUNSELING</h3>
        <img src="https://backend.konarabia.com/images/service/193A4626 copy_1615299000.jpg"width="150px" height="150px">
        <div><button class="btnscard"><a href="#" >YOUR APPOINTMENT</a></button></div>
      </div>
    </div>
   <div class="div4">
     <div class="service">
       <h2><b>Kon Corporate Services</b></h2>
       <p class="par">Providing a comprehensive range of corporate services by a<br>
        team of the leading HR experts in the market with the<br>
        highest credentials and proven experience to help<br>
        companies maximize the value of their most valuable asset,<br>
        their people</p>
        <button id="down"><a href="#">Download Kon Profile</a></button>
     </div>
     <div>
      <img class="serviceimg" src="https://www.konarabia.com/assets/img/onlinelibrary.png" width="480px" height="300px">
    </div>
   </div>
   <div class="div5">
     <h2 class="h2style">Upcoming Programs</h2>
     <p class="pstyle">Monthly programs, whether you want to join a workshop or an<br> event, all you need can be found through this timeline</p>
   </div>
  </div>
